h1 {
    text-align: center;
}

h4 {
    font-size: 48px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

info {
    width: 550px;
    padding: 20px;
    overflow: hidden;
}

img {
    margin-right: 15px;
    float: left;
    width: 70px;
}

html {
    background-color: lightslategray;
    max-width: 500px;
    margin: auto;
}